@inherits LayoutComponentBase

<PageTitle>MattRamageTrivia</PageTitle>

<div class="page">
    <div class="@SidebarCssClass sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 py-2">
            <div style="width:350px; justify-content: stretch; display: flex; flex-direction: column;">
                @if (showName)
                {
                    <h2>@name</h2>
                    <h4><span>Quest Amount: @amount</span></h4>
                }
            </div>
            <div style="max-height: 150px; width: 100%; display: flex; justify-self:center; justify-content: center;">
                <img src="CHTrivia.png" style="max-height: 130px;" />
            </div>
            <div style="width:350px; justify-content:end; display: flex;">
                <button style="justify-self: end;" title="Sidebar menu" class="navbar-toggler" @onclick="ToggleSidebar">
                    <span class="oi @SidebarToggler"></span>
                </button>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {
    private bool showName = false;
    private string name = "";
    private string amount = "";
    private Hub hub = Hub.Default;

    private bool collapseSidebar = true;

    private string? SidebarCssClass => collapseSidebar ? "collapse" : null;
    private string? SidebarToggler => collapseSidebar ? "oi-menu" : "oi-x";
    public MainLayout()
    {
        hub.Subscribe<TopRowNameInfo>(info =>
            {
                name = info.Name;
                amount = info.Amount;
                showName = info.Show;
                InvokeAsync(() =>
                {
                    StateHasChanged();
                });
            });
    }
    private void ToggleSidebar()
    {
        collapseSidebar = !collapseSidebar;
    }
}
