* {
    box-sizing: border-box;
}

.spinner-area {
    margin: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 150px - 50px);
    width: 500px;
    overflow: hidden;
}


.spinner-container {
    width: 500px;
    height: 500px;
    background-color: #ccc;
    border-radius: 50%;
    border: 15px solid #dde;
    position: relative;
    overflow: hidden;
    transition: 5s;
}

    .spinner-container div {
        height: 50%;
        width: 200px;
        position: absolute;
        clip-path: polygon(100% 0, 50% 100%, 0 0 );
        transform: translateX(-50%);
        transform-origin: bottom;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
        font-family: sans-serif;
        color: #fff;
        left: 135px;
    }

    .spinner-container .one {
        background-color: var(--trivia-green);
        left: 50%;
    }

    .spinner-container .two {
        background-color: var(--trivia-yellow);
        transform: rotate(45deg);
    }

    .spinner-container .three {
        background-color: var(--trivia-green);
        transform: rotate(90deg);
    }

    .spinner-container .four {
        background-color: var(--trivia-yellow);
        transform: rotate(135deg);
    }

    .spinner-container .five {
        background-color: var(--trivia-green);
        transform: rotate(180deg);
    }

    .spinner-container .six {
        background-color: var(--trivia-yellow);
        transform: rotate(225deg);
    }

    .spinner-container .seven {
        background-color: var(--trivia-green);
        transform: rotate(270deg);
    }

    .spinner-container .eight {
        background-color: var(--trivia-yellow);
        transform: rotate(315deg);
    }

.arrowdown {
    position: absolute;
    top: 100px;
    color: #000;
}

    .arrowdown::before {
        content: "\1F817";
        font-size: 50px;
    }

.arrowright {
    width:20px;
    color: #000;
}

    .arrowright::before {
        content: "\1F81A";
        font-size: 50px;
    }


#spin {
    position: absolute;
    z-index: 10;
    background-color: #e2e2e2;
    text-transform: uppercase;
    border: 8px solid #fff;
    font-weight: bold;
    font-size: 20px;
    color: #a2a2a2;
    width: 80px;
    height: 80px;
    font-family: sans-serif;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    letter-spacing: 1px;
}

.player-area {
    height: 100%;
}

.hover-option-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-content: start;
    
}
.hover-option-item {
    flex: 0 1 calc(40% - 15px);
    height:173px;
    width: 300px;
    margin: 15px;
}
.hover-option-item-full {
    flex: 1 1 100%;
    height: 173px;
    width: 300px;
    margin: 15px;
}


.rcorner {
    border-radius: 25px;
    border: 10px solid var(--trivia-green);
}

.btn-outline-trivia {
    color: var(--trivia-green);
    border-color: var(--trivia-green);
}

    .btn-outline-trivia:hover {
        color: #fff;
        background-color: var(--trivia-green);
        border-color: #007bff
    }

    .btn-outline-trivia.focus,
    .btn-outline-trivia:focus {
        box-shadow: 0 0 0 .2rem rgba(0,123,255,.5)
    }

    .btn-outline-trivia.disabled,
    .btn-outline-trivia:disabled {
        color: var(--trivia-green);
        background-color: transparent
    }

    .btn-outline-trivia:not(:disabled):not(.disabled).active,
    .btn-outline-trivia:not(:disabled):not(.disabled):active, .show >
    .btn-outline-trivia.dropdown-toggle {
        color: #fff;
        background-color: var(--trivia-green);
        border-color: var(--trivia-green)
    }

        .btn-outline-trivia:not(:disabled):not(.disabled).active:focus,
        .btn-outline-trivia:not(:disabled):not(.disabled):active:focus, .show >
        .btn-outline-trivia.dropdown-toggle:focus {
            box-shadow: 0 0 0 .2rem rgba(0,123,255,.5)
        }