@page "/settings"
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IJSRuntime JSRuntime

<PageTitle>Settings</PageTitle>



<div class="grid-container">
    <div class="item-userheader">
        <h2>Users</h2>
    </div>
    <div class="item-gameheader">
        <h2>Game</h2>
    </div>
    <div class="item-user">


        <button @onclick="OnClearUsers">Clear</button>

        <input type="text" @bind="_name" @bind:event="oninput" @onkeydown="Enter" @ref="nameElement" />
        <button @onclick="OnAddUser" >Add</button>

        <table>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>

            @foreach (var item in _contestants)
            {
                <tr>
                    <td>@item.Name</td>
                    <td><button @onclick="() => OnRemoveUser(item)">Remove</button></td>
                </tr>
            }
        </table>

    </div>
    <div class="item-game">
        Number of Rounds <input type="number" @bind-value="NumberOfRounds" min="1" />
    </div>
</div>


@code {
    private ElementReference nameElement;
    private List<Contestant> _contestants = new();
    private string _name = string.Empty;

    private int _numberOfRounds = 1;
    public int NumberOfRounds { get { return _numberOfRounds;} set{_numberOfRounds = value; SaveRounds();  } }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await nameElement.FocusAsync();
        }
    }
    protected override async Task OnInitializedAsync()
    {
        var contestants = await localStorage.GetItemAsync<string>("Contestants");
        if (string.IsNullOrWhiteSpace(contestants) == false)
        {
            _contestants = System.Text.Json.JsonSerializer.Deserialize<List<Contestant>>(contestants) ?? new List<Contestant>();
        }

        var numOfRounds = await localStorage.GetItemAsync<string>("NumberOfRounds");

        if (int.TryParse(numOfRounds, out int numberOfRounds))
        {
            _numberOfRounds = numberOfRounds;
        }
    }
    public async void Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await OnAddUser();
        }
    }
    async Task OnAddUser()
    {
        //todo why is _name nothing if I hit enter
        if (string.IsNullOrWhiteSpace(_name))
        {
            return;
        }
        _contestants.Add(new Contestant() { Name = _name });
        await SaveUsers();
        _name = string.Empty;
        StateHasChanged();
        await nameElement.FocusAsync();
    }
    async void OnClearUsers()
    {
        _contestants = new();
        await SaveUsers();
        StateHasChanged();
    }
    async void OnRemoveUser(Contestant contestant)
    {
        _contestants.Remove(contestant);
        await SaveUsers();
        StateHasChanged();
    }
    async Task SaveUsers()
    {
        await localStorage.SetItemAsync("Contestants", System.Text.Json.JsonSerializer.Serialize(_contestants));
    }
    async void SaveRounds()
    {
        await localStorage.SetItemAsync("NumberOfRounds", NumberOfRounds.ToString());
    }
}
