@page "/video/{VideoUrl}"
@inject NavigationManager navMan
@inject IJSRuntime JSRuntime

<PageTitle>Matt Ramage Trivia</PageTitle>
<div class="video-container">

    <video class="video-result" src="@VideoUrl" id="myVideo" autoplay>
        video not supported
    </video>
    <div class="center-result blinker" >
        @Message
    </div>
</div>

@code {
    [Parameter]
    public string? VideoUrl { get; set; }
    private string Message { get; set; } = "CORRECT";
    private DotNetObjectReference<Video>? dotNetHelper;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (VideoUrl?.ToLower()?.StartsWith("wrong") ?? false)
            {
                Message = "WRONG";
                StateHasChanged();
            }
            await JSRuntime.InvokeVoidAsync("addVideoEndedEventListener", "myVideo");
            dotNetHelper = DotNetObjectReference.Create(this);
            await JSRuntime.InvokeVoidAsync("VideoHelpers.setDotNetHelper",
                dotNetHelper);

        }
    }

    [JSInvokable]
    public void VideoEnded()
    {
        navMan.NavigateTo("/");
    }
    public void Dispose()
    {
        dotNetHelper?.Dispose();
    }
}